
* {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: rgba(69, 2, 131, 0.901);
    margin: 0;
}


nav {
    margin: 0;
    padding: 0;
    height: 55px;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: large;


    .IMDB-box {
        margin-left: 120px;
        padding: 8px 10px;
        color: black;
        background-color: rgb(255, 196, 0);
        border-radius: 5px;
        
    }

    .IMDB-right-box {
        span {
            color: rgb(0, 187, 255);
        }
    }

    input[type="search"] {
        border-radius: 5px;
        width: 600px;
        padding: 5px 50px;
    }
}




#swap-page ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    li {
        margin: 0 10px;
    }

    a {
        text-decoration: none;
        color: white;
    }
    
}

/* section */

.main-img {
    margin: 50px 10px;
    justify-content: center;
    text-align: center;
    /* background-color: blue; */

    img {
        /* width: 1200px; */
        width: 80%;
        height: auto;
        border-radius: 10px;
    }
}

section {
    display: flex;
    flex-direction: row;
    margin: 0 300px;
    /* background-color: brown; */
}



section .poster-img{
    display: flex;
    max-width: 100%;
    height: 300px;
    margin-right: 40px;
}

section .Description {
    color: white;

    h4 {
        color: rgb(255, 204, 0);
    }

    small {
        font-size: 15px;
    }
}

