
* {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background: linear-gradient(135deg, #2b0131, #700980);
    margin: 0;
}


nav {
    margin: 0;
    padding: 0;
    height: 55px;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: large;


    .IMDB-box {
        margin-left: 30px;
        padding: 8px 10px;
        color: black;
        background-color: rgb(255, 196, 0);
        border-radius: 5px;

        a {
            text-decoration: none;
            color: black;
        }

    }

    .Menu {
        a {
            text-decoration: none;
            color: white;
        }
    }

    .IMDB-right-box {

        a {
            text-decoration: none;
            color: white;
        }


        span {
            color: rgb(0, 187, 255);
        }
    }

    input[type="search"] {
        border-radius: 5px;
        width: 600px;
        padding: 5px 50px;
    }
}




#swap-page ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    li {
        margin: 0 10px;
    }

    a {
        text-decoration: none;
        color: white;
    }
    
}

/* main */

.main-img {
    margin: 50px 10px;
    justify-content: center;
    text-align: center;
    
    /* background-color: blue; */

    img {
        /* width: 1200px; */
        width: 80%;
        height: auto;
        border-radius: 10px;
    }
}

section {
    display: flex;
    flex-direction: row;
    margin: 0 300px;
    /* background-color: brown; */
}



section .poster-img{
    display: flex;
    max-width: 100%;
    height: 300px;
    margin-right: 40px;
}

section .Description {
    color: white;

    h1 {
        font-size: 50px;
    }


    h4 {
        font-size: 20px;
        color: rgb(255, 204, 0);
    }

    .star , .rate {
        padding: 5px;
        padding-left: 0px;
        padding-right: 10px;
        border-right: 2px solid rgb(255, 204, 0);
        
    }

    .rate, .Watchlist {
        padding-left: 5px;
        color: rgb(198, 90, 182);
        font-weight: bold;
    }

    small {
        font-size: 20px;        
        
    }

    .Movie-details-box {
        /* background-color: aliceblue; */
        display: flex;
        flex-direction: column;
        small {
            line-height: 30px;
        }

        span {
            font-style: italic;
        }
    }


    .actors {
        /* background-color: aliceblue; */
        padding-top: 30px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: row;
    }

    .actor-img {

        padding-right: 30px;

        flex-direction: column;
        text-align: center;
        
        a img{


            height: 125px;
            width: 125px;
            object-fit: cover;
            clip-path: circle(50%);
            margin-bottom: 7px;
        }

        .actor-name {
            text-decoration: none;
            color: white;
        }
    }




}

